<!DOCTYPE html>
<html>
<head>
<title>Templates</title>
<link rel="stylesheet" type="text/css" href="firstTemp.css">
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
font-family: 'Comfortaa', cursive;

</head>
<body>
<div class="upper">
<h2 id="name">Thomas Anderson</h2>
<p>An excutive B.tech graduate from IIT Delhi ashsydhj dkhdus  bsahsjns aabsakbsansj sahbsa xaxba habsa abxa a xax jabxa xabxkaxba xxbabaxa'xaxnaxbxax x a xgx  xahjbxkjnxttsu djfoe dndks jdhwpjkd jslxncn sjsccnscjdh ckjc ckcjs csln s</p>
</div>
<div class="nextToupper">
	<div id="right">
	<h4>abcdef@gmail.com</h4>
	<h4>New york,usa</h4>
	<h4>linkedInId</h4>
</div>
<div id="left">
	<h4>9878768887</h4>
	<h4>Website</h4>
	<h4>@ajghsjdg1342</h4>
</div>
</div>
<h1 class="large">EXPERTISE</h1>
<hr></hr>
<div><ul>
	<li id="a">Project management</li>
	<li id="b">Teamwork</li>
	<li id ="c">Leadership</li>
	<li id="e">assdf</li>
	<li id="f">social media marketing</li>
	<li id="g">anxhxs</li>
	<li id="h">bnhchc</li>
	<li id="k">dfdfdd</li>
	<li id="l">sxsdc</li>
	<li id="m">sdsds</li>
	<li id="n">csscs</li>
	<li id="o">csccs</li>

</ul></div>

<h1 class="large">PROFESSIONAL EXPERIENCE</h1>
<hr></hr>
<h2>General Manager</h2>
<h2>Hotel Roosevelt</h2>
<h3>Achievements</h3>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>

</ul>

<h2>Second Professional Experience</h2>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>

</ul>

<h3>Third Professional Experience</h3>
<ul>
	<li></li>
	<li></li>

</ul>


<h1 class="large">CERTIFICATES</h1>
<hr></hr>
<ul>
	<li>Certificate no. 1</li>
	<li>Certificate no. 2</li>
	<li>Certificate no. 3</li>
	<li>Certificate no. 4</li>

</ul>

<h1 class="large">EDUCATION</h1>
<hr></hr>


<h1 class="large">SKILLS</h1>
<hr></hr>
<ul>
	<li>Python</li>
	<li>C++</li>
	<li>Artificial Intelligence</li>
	<li>Designing</li>

</ul>


<h1 class="large">QUALIFICATIONS</h1>
<hr></hr>
<ul>
	<li>Certified Public Accountant (CPA)</li>
		<li>Certified Managing Accountant (CMA)</li>
		<li>Certified Financial Manager (CFM)</li>
		<li>Certified Fixed Examiner (CFE)</li>
		<li>Enrolled Agent (EA)</li>


</ul>


<h1 class="large">ORGANISATIONS</h1>
<hr>ABC Organisation</hr>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<h1 class="large">HONOUR AWARDS</h1>3
<hr></hr>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</body>

</html>