<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="first.css">
		<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">



	</head>
	<body>
		<div class="a4">
		<h1 class="name">Thomas Anderson</h1>
		<hr class="line"></hr><br>
		<div class="firstdiv">
			<div class="fir1">
			<p>123, 2nd Street</p>
			<p>NYC-10001</p>
			<p>united states</p>
		</div>
			<div class="fir">
			<h2>Email:</h2>
			<h2>Website</h2>
			<p>Phone</p>
		</div>
		</div>

		<div class="divsec">
			<h2 class="left obj">OBJECTIVE</h2>
			<hr class="line1"></hr>
			<p class="div">"I can work independently using my own initiative or for a part of a team."</p>
			<h2 class="left ">COMPUTER SKILLS</h2>
			<hr class="line1"></hr>
			<div class="div"><ul>
				<li>Microsoft Word</li>
				<li>Excel</li>
				<li>Access</li>
				<li>Powerpoint</li>
				<li>Outlook</li>
			</ul>
		</div>
			
			<h2 class="left">EDUCATION</h2>
			<hr class="line1"></hr>
			<div class="div">
			<h3>MS in Accounting                Sep 1997 — Sep 2001</h3>
			<p>University of Washington</p>
<p>Obtained the MS degree summa cum laude, with GPA 4.0 - http://google.com</p>
			<h3>BS in Accounting                Sep 1993 — Sep 1996</h3>
			<p>Columbia University</p>
			<h3>BS in Computer Science          Sep 1989 — Sep 1992</h3>
			<p>Columbia University</p>
</div>
			<h2 class="left">WORK EXPERIENCE</h2>
			<hr class="line1"></hr>

			<div class="div">
	<h3>MyOffice Inc. Boston</h3>
	<h3>Oct 2005 - Present</h3>
	<h4>Administrator</h4>
	<ul>
		<li>Performed general office duties and administrative tasks.</li>
		<li>Prepared weekly confidential sales reports for presentation to management.</li>
		<li>Managed the internal and external mail functions.</li>
		<li>Provided telephone support.</li>
		<li>Scheduled client appointments and maintained up-to-date confidential client
files.</li>


	</ul>
	<h3>DC Systems, DC</h3>
	<h4>Accounting assistant
		<ul>
			<li>Administered online banking functions.
</li>
			<li>Reduced credit period from 90 days to 60 days.
</li>
			<li>Managed payroll function for 140 employees.</li>
			<li>
Monitored and recorded company expenses</li>

		</ul>

</div>


			<h2 class="left">QUALIFICATIONS</h2>
			<hr class="line1"></hr>

			<div class="div">
	<ul>
		<li>Certified Public Accountant (CPA)</li>
		<li>Certified Managing Accountant (CMA)</li>
		<li>Certified Financial Manager (CFM)</li>
		<li>Certified Fixed Examiner (CFE)</li>
		<li>Enrolled Agent (EA))</li>

	</ul>

</div>

			<h2 class="left">REFERENCES</h2>
			<hr class="line1"></hr>
			<p class="div">Refrence available upon request</p>

		</div>
</div>
	</body>
</html>