<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="fourth.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">






</head>
<body>

    <h1 id="name">NATHALIE BYSTORM</h1>
    <h3 id="profession">DIGITAL MARKETING PROFESSIONAL</h3>
    <div class="image-cropper">
    <img class="round" src="female.jpg" width=200px height=200px alt="Profile pic here">
    </div>


    <div class="left-block">
<h2 class="group1">INTRODUCTION</h2>
<p>My name is Nathale Bystorm.Lorem Ipsum is simply dummy text of the printing
     and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
     ever since the 1500s, when an unknown printer took a galley of type and scrambled it
      to make a type specimen book.</p>

<h2 class="group1">WORK EXPERIENCE</h2>
<h3 class="text"> Monkeys, Marketing Assistant</h3>
    <h4 class="text1">JUN 2019 - JAN 2020</h4>
    <p>It is a long established fact that a reader will be distracted by the readable content
         of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
          more-or-less normal distribution of letters</p>

    <h3 class="text">World mark, Marketing Assistant</h3>
    <h4 class="text1">JUN 2019 - JAN 2020</h4>
   <p>It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of using 
        Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>

   <h3 class="text">World mark, Marketing Assistant</h3>
   <h4 class="text1">JUN 2019 - JAN 2020</h4>
  <p>It is a long established fact that a reader will be distracted by the
       readable content of a page when looking at
        its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
<h2 class="group1 hobbies">HOBBIES</h2>
<ul>
    
    <li class="hob"><img src="music.png"></li>
    <li class="hob"><img src="cycling.png"></li>
    <li class="hob"><img src="bowling.png"></li>
    <li class="hob"><img src="photo.png"></li>
    <li class="hob"><img src="swimming.png"></li>
</ul>



    </div>

    <hr>
    
    <div class="right-block">
    <h2 class="group1 grp2">SKILLS</h2>
    <h3 class="skills">MAILCHIMP</h3>
    <h3 class="skills">HTML/CSS</h3>
    <h3 class="skills">PHOTOSHOP</h3>
    <h3 class="skills">WORDPRESS</h3>
    <h3 class="skills">PPC/SEO</h3>
    <h3 class="skills">GOOGLE ANALYTICS</h3>





    <h2 class="group1 grp2">EDUCATION</h2>
    <div class="edu">
<h3>Marketing +2</h3>
<h4>University of Bristol</h4>
<h4>2002-2005</h4>

<h3>A Level Marketing</h3>
<h4>University of california</h4>
<h4>2005-2007</h4>

<h3>Business Studies</h3>
<h4>Harvard University</h4>
<h4>2007-2008</h4>
</div>
    <h2 class="group1 grp2">REFERENCES</h2>
    <div class="ref">
    <h3>GOOGLE Services</h3>
    <h4>Larissa Webb, HR Manager</h4>


    <h3>AMAZON services</h3>
    <h4>Colin Munro, Marketing Manager</h4>


        <h4>Contact info will be provided upon request</h4>
        </div>
    </div>
</body>
</html>