#name{
	font-family: 'Nunito Sans', sans-serif;
	font-size:32px;
	color:#4834d4;
}
#profe{
	font-family: 'Ubuntu', sans-serif;
	font-size:22px;

}

p{
	font-family: 'Comfortaa', cursive;

}
.group{
	background-color:#dfe6e9;
	height:40px;
	border-top:5px solid #dfe6e9;
}
.value{
	position:absolute;
	left:50%;
}