<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="second.css">



	</head>
	<body>
		<div class="firstLeft">
		<img src="" alt="" >
		<h3 id="call">003 659 864 4568</h3>
		<h3 id="site">www.jasonmartin.com</h3>
		<h3>jasonmartin123@gmail.com</h3>
		<h2>PERSONAL</h2>
		<ul>
			<li>Birthday</li>
			<li>:</li>
			<li>12th January 1991</li>

		</ul>
		<ul>
			<li>Birthday</li>
			<li>:</li>
			<li>12th January 1991</li>

		</ul>

		<ul>
			<li>Birthday</li>
			<li>:</li>
			<li>12th January 1991</li>

		</ul>
		
		<ul>
			<li>Birthday</li>
			<li>:</li>
			<li>12th January 1991</li>

		</ul>
		<h2>SKILLS</h2>

		<h3>Communication</h3>
		<h3>Creativity</h3>
		<h3>Teamwork</h3>
		<h3>Organisational</h3>
		<h3>Leadership</h3>
		<h3>Teamplayer</h3>

		<h2>SOFTWARE</h2>

		<h3>PHOTOSHOP</h3>
		<h3>ILLUSTRATOR</h3>
		<h3>INDESIGN</h3>
		<h3>MS OFFICE</h3>
		<h3>HTML 5</h3>
		<h3>CSS</h3>

		<h2>REFERENCE</h2>

		<h3>JOHNS MICHAEL</h3>

		</div>	

		<div class="firstRight">

		<h1 id="name">JASON MARTIN</h1>
		<h3 id="profe">UX/UI DESIGNER </h3>
		<p>My name is Jason Martin Fat son how smiling mrs natural expense anxious friends. Boy scale enjoy ask abode fanny being son. As material in learning subjects so improved feelings. Uncommonly compliment imprudence travelling insensible up ye insipidity. To up painted delight winding as brandon. Gay regret eat looked warmth easily far should now.</p>
<div>
		<h2 class="group">EXPERIENCE</h2>

		<h3 class="category">Lead Web Designer</h3>
		<h4 class="category">2015 - 2017</h4>
		<h3 class="value">SOFT DESIGN STUDIOS</h3>
		<p class="value">So feel been kept be at gate. Be september it extensive oh concluded of certainty. In read most gate at body held it ever no.</p> 
		
			<h3 class="category">SENIOR WEB DESIGNER</h3>
			<h4 class="category">2013 - 2015</h4>
			<h3 class="value">WEB TECH LTD</h3>
			<p class="value">Fat son how smiling mrs natural expense anxious friends. Boy scale enjoy ask abode fanny being son. As material in learning subjects so improved feelings.</p>
		

					<h3 class="category">LEAD WEB DESIGNER</h3>
			<h4 class="category">2010 - 2010</h4>
			<h3 class="value">WEB TECH LTD</h3>
			<p class="value">Fat son how smiling mrs natural expense anxious friends. Boy scale enjoy ask abode fanny being son. As material in learning subjects so improved feelings.</p>

			<h3 class="category">SENIOR WEB DESIGNER</h3>
			<h4 class="category">2008 - 2010</h4>
			<h3 class="value">WEB TECH LTD</h3>
			<p class="value">Fat son how smiling mrs natural expense anxious friends. Boy scale enjoy ask abode fanny being son. As material in learning subjects so improved feelings.</p>
		</div>
<div>
		<h2 class="group">EDUCATION</h2>

			<h3 class="category">Name of university</h3>
			<h4 class="category">2013 - 2015</h4>
			<h3 class="value">Ceritificate of web </h3>
			<p class="value">Fat son how smiling mrs natural expense anxious friends. Boy scale enjoy ask abode fanny being son. As material in learning subjects so improved feelings.</p>

			<h3 class="category">Name of university</h3>
			<h4 class="category">2007 - 2009</h4>
			<h3 class="value" >Bachelor of art director</h3>
			<p class="value">Fat son how smiling mrs natural expense anxious friends. Boy scale enjoy ask abode fanny being son. As material in learning subjects so improved feelings.</p>
			<h3 class="category">Name of University</h3>
			<h4 class="category">2007 - 2009</h4>
			<h3 class="value">Higher Secondary Examination</h3>
			<p class="value">Fat son how smiling mrs natural expense anxious friends. Boy scale enjoy ask abode fanny being son. As material in learning subjects so improved feelings.</p>
		</div>
<div>
		<h2 class="group">HOBBIES</h2>
</div>
</div>








	</body>

</html>