<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="third.css"> 
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">





</head>
<body>
<div class="upper-block">
    <div class="image-cropper">
    <img src="profile1.jpeg" widht=200 height=200></div>
    <h1 id="name">TIMOTHY STUART</h1>
    <h3 id="profile">MARKETING ASSISTANT</h3>
    </div>
<div>
    <div class="left-block">
        <h2 class="first-left">PERSONAL</h2>
        <h2 class="first-left">PROFILE</h2>
        <hr>
        
    <p class="para">Lorem ipsum taciti suscipit consequat lacinia mollis ornare nisl eleifend leo velit integer donec aliquam, ipsum nam volutpat lectus quisque semper praesent primis purus curabitur senectus </p>
    
    <h2>CONTACT</h2>
    <hr>
        <ul>
            <li class="list1"><img src="location.png"></li>
            <li class="list1">ABC Street, New Delhi</li>
        
        </ul>
        <ul>
            <li class="list2"><img src="gmail.png"></li>
            <li class="list2">timstuart@gmail.com</li>
        
        </ul><ul>
            <li class="list3"><img src="call.png"></li>
            <li class="list3">872-871-9271</li>
        
        </ul>
    
        <ul>
            <li class="list4"><img src="linkedin.png"></li>
            <li class="list4">/timstuart</li>
        
        </ul>
        
        <h2>EDUCATION</h2>
        <hr>
        <h4 class="edu">San Diego University</h4>
        <h4 class="edu"> Bachelor in Marketing, 2018</h4>
    
    
    
    </div>
    <div class="right-block">
    <h2 class="group1">SKILLS</h2>
    <hr>
    <div class="text3">
        <div class="bullets">
    <ul>
    
        <li>Semper quam arcu hendrerit aliquam sollicitudin orci arcu justo</li>
        <li>sollicitudin ultricies aliquet dui class arcu porta etiam, quisque augue tortor</li>
        <li>Congue nunc blandit ultricies condimentum taciti id tellus, taciti</li>
        <li>Stand out to potential employers with this modern professional resume.</li>
    </ul>
    </div>
    <h2 class="group1">WORK EXPERIENCE</h2>
    <hr>
    <h3 class="text"> Monkeys, Marketing Assistant</h3>
    <h4 class="text1">JUN 2019 - JAN 2020</h4>
    <div class="bullets">
    <ul>
        <li>It’s a jungle out there in the business world and it’s important</li>
        <li>you set yourself apart from the rest. This minimal</li>
        <li>palette of light blue, grey and white, features room for</li>
        <li>palette of light blue, grey</li>
    
    </ul>
    </div>
    
    <h3 class="text">World mark, Marketing Assistant</h3>
    <h4 class="text1">JUN 2019 - JAN 2020</h4>
    <div class="bullets">
    <ul>
        <li>It’s a jungle out there in the business world and it’s important</li>
        <li>you set yourself apart from the rest. This minimal</li>
        <li>palette of light blue, grey and white, features room for</li>
        <li>palette of light blue, grey</li>
    
    </ul>
    </div>
    
    <div>
		<h2 class="group1">HOBBIES</h2>
    </div>
   
    <ul>
    
        <li class="hob"><img src="music.png"></li>
        <li class="hob"><img src="cycling.png"></li>
        <li class="hob"><img src="bowling.png"></li>
        <li class="hob"><img src="photo.png"></li>
        <li class="hob"><img src="swimming.png"></li>
    </ul>


    
    </div>
    
    </div>
</body>
</html>